.ticket-split-section {
  padding: 80px 20px;
  background: #f5f7f6;
  display: flex;
  justify-content: center;
}

.ticket-box {
  max-width: 1000px;
  width: 100%;
  background: #fff;
  display: flex;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

/* LEFT IMAGE */
.ticket-image {
  width: 45%;
  position: relative;
}

.ticket-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 50%;
}
.qr-image {
  width: 150px;
  height: 150px;     
  object-fit: contain;
  display: block;
  margin: 10px auto;
}
/* Hide extra sections on page load */
.card-box,
.upi-box {
  display: none;
}

.image-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  background: rgba(0,0,0,0.4);
  padding: 15px;
  border-radius: 10px;
}

/* RIGHT FORM */
.ticket-form {
  width: 55%;
  padding: 40px;
}

.ticket-form h2 {
  color: #2fbf71;
  margin-bottom: 5px;
}

.ticket-form p {
  color: #666;
  margin-bottom: 25px;
}

.ticket-form label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
}

.ticket-form input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.total {
  margin: 25px 0;
  font-size: 18px;
  font-weight: bold;
  color: #2fbf71;
}

.ticket-form button {
  width: 100%;
  padding: 14px;
  background: #2fbf71;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.ticket-form button:hover {
  background: #28a963;
}
/* =========================================
   MOBILE & TABLET RESPONSIVE FIX
========================================= */

@media (max-width: 992px) {

    .login-wrapper {
        flex-direction: column;
        max-width: 600px;
        margin: auto;
    }

    .login-image {
        width: 100%;
        height: 280px;
    }

    .login-form {
        width: 100%;
        padding: 35px 30px;
    }
}
@media (max-width: 768px) {

    .login-section {
        padding: 20px 12px;
    }

    .login-wrapper {
        border-radius: 10px;
    }

    .login-image {
        height: 220px;
    }

    .login-form {
        padding: 25px 20px;
        text-align: center;
    }

    .login-form h2 {
        font-size: 26px;
    }

    .form-links {
        flex-direction: column;
        gap: 10px;
    }

}
@media (max-width: 480px) {

    .login-image {
        height: 180px;
    }

    .login-form {
        padding: 22px 15px;
    }

    .login-form button {
        padding: 12px;
        font-size: 15px;
    }

}
@media (max-width: 400px) {
    .login-image {
        display: none;
    }
}